@{
  Layout = "_Layout";
}

<p>Hangman is a classic game played by Americans across the entire country. One player chooses a word, and then the other player tries to guess what that word is. Every turn, the player guessing will choose a letter. If that letter is in the word, those letters will be displayed in their appropriate positions within the word. If that letter is not in the word, you get one strike, and the man will take one step closer towards his death. You get seven strikes. Good Luck!</p>

<a href="/Player/Form"><button type="button" class="btn">Start Game!</button></a>
