@{
  Layout = "_Layout";
}

<form action="/Player/Create" method="post">
  <div class="form-group">
    <label for="player1Name">Insert Player 1 Name: </label>
    <input name="player1Name" id="player1Name" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="player2Name">Insert Player 2 Name: </label>
    <input name="player2Name" id="player2Name" type="text" class="form-control">
  </div>
  <button type="submit" class="btn">Start Game!</button> 
</form>
